<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

            <h1 id="introduction">Thank you for contacting me! <br> I'll get back to you as soon as I can.</h1>

            <!-- Displays the data that the user sent sent for confirmation -->
            <p class="formData">First name: <%= data.firstName %></p>
            <p class="formData">Last name: <%= data.lastName %></p>
            <p class="formData">Contact Number: <%= data.contactNumber %></p>
            <p class="formData">Email: <%= data.email %></p>
            <p class="formData">Message: <%= data.message %></p>
            <br><br><br>

            <!-- Button for going to the home page. Allows the user the convenience of not 
                scrolling up to the navbar to go to the home page -->
            <div class="button">
                <a href="/"><button class="custom-button">Home</button></a>
            </div>
            
<%- include ('partials/footer.ejs') %>
